<p>pipe-holder works!</p>
<div>without pipes: {{myDate}}</div>
<div>Pipes date: {{myDate | date}}</div>
<div>{{welcome | uppercase}}</div>
<div>{{welcome | lowercase}}</div>
<div>{{persentage | percent}}</div>
<div>{{persentage | currency}}</div>
<hr />
<div>{{welcome | slice:3}}</div>
<div>{{welcome | slice:6:11}}</div>
<div>{{myDate | date:"dd/MM/yyyy"}}</div>
<div>{{pi | number:'2.1-2'}}</div>
<div>{{pi | number:'3.5-5'}}</div>
<hr />
<div>{{money | currency:'RUB':'code'}}</div>
<div>{{money | currency:'RUB':'symbol-narrow'}}</div>
<div>{{money | currency:'RUB':'symbol':'1.1-1'}}</div>
<div>{{money | currency:'RUB':'symbol-narrow':'1.1-1'}}</div>
<div>{{money | currency:'RUB':'avarage price'}}</div>
<hr />
<div>{{welcome | slice:6:11 | uppercase}}