<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <a [routerLink]="['style']">Style</a></li>
  <li><a [routerLink]="['bind']">bind</a></li>
  <li><a [routerLink]="['ngcontent']">ngcontent</a></li>
  <li><a [routerLink]="['interections']">interections</a></li>
  <li><a [routerLink]="['parent3']">Parent3</a></li>
  <li><a [routerLink]="['lifecycle']">Lifecycle</a></li>
  <li><a [routerLink]="['viewchied']">Viewchied</a></li>
  <li><a [routerLink]="['contentchild']">Contentchild</a></li>
</ul>

<router-outlet></router-outlet>