<p>home-page works!</p>

<div>
    <p appBold>Hello Angular 7 Home page </p>
    <p>^^ Директива cnfwsjyfhyf ^^</p>
</div>
<div>
    <p appBoldActive>Hello Angular 2 page 3</p>
    <p>^^ Директива слухає користувача ^^</p>
</div>
<div>
    <p appBoldActive2>Hello Angular 2 page 3</p>
    <p>^^ Директива з слухає користувача ^^</p>
</div>
<div>
    <p appBoldActiveHost>Hello Angular 2 page 3</p>
    <p>^^ Директива з слухає користувача через host ^^</p>
</div>
<div>
    <p appBoldInput [selectedSize]="'28px'" [defaultSize]="'14px'">Hello Angular 2</p>
    <p>^^ Директива з інпутом ^^ </p>
</div>