<p>home-page works!</p>

<div>
    <p appBold>Hello Angular 7 Home page </p>
    <p>^^ Bold cnfwsjyfhyf ^^</p>
</div>
<div>
    <p appBoldActive>Hello Angular 7 page 3</p>
    <p>^^ Listen ^^</p>
</div>
<div>
    <p appBoldActive2>Hello Angular 7 page 3</p>
    <p>^^lisiner^^</p>
</div>
<div>
    <p appBoldActiveHost>Hello Angular 7 page 3</p>
    <p>^^ host lisen ^^</p>
</div>
<div>
    <p appBoldInput [selectedSize]="'28px'" [defaultSize]="'14px'">Hello Angular 2</p>
    <p>^^ inputs ^^ </p>
</div>