<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<div class="float-left">
  <ul>
    <li>
      <h4>Validation</h4>
    </li>
    <li> <a routerLink="/registration1" routerLinkActive="active">01-registration1</a> <br /></li>
    <li><a routerLink="/registration2" routerLinkActive="active">02-registration1</a> <br /></li>
    <li><a routerLink="/registration3" routerLinkActive="active">03-registration1</a> <br /></li>
    <li><a routerLink="/registration4" routerLinkActive="active">04-registration1</a> <br /></li>
    <li> <a routerLink="/registration5" routerLinkActive="active">05-registration1</a> <br /></li>
    <li> <a routerLink="/registration6" routerLinkActive="active">01-registration1</a> <br /></li>
    <li><a routerLink="/registration7" routerLinkActive="active">02-registration1</a> <br /></li>
    <li><a routerLink="/registration8" routerLinkActive="active">03-registration1</a> <br /></li>
    <li><a routerLink="/registrationdynamo" routerLinkActive="active">04-registration1</a> <br /></li>
    <li>
      <h4>02-Http</h4>
    </li>
    <li><a routerLink="/GetValues" routerLinkActive="active">01-create-sample</a> <br /></li>
    <li><a routerLink="/PostValues" routerLinkActive="active">02-from-event</a> <br /></li>
    <li><a routerLink="/PutValues" routerLinkActive="active">02-from-event</a> <br /></li>

    <li><a routerLink="/GetUsers" routerLinkActive="active">01-create-sample</a> <br /></li>
    <li><a routerLink="/PostUsers" routerLinkActive="active">02-from-event</a> <br /></li>
  </ul>
</div>

<div class="float-right">
  <router-outlet></router-outlet>
</div>