<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<div class="float-left">
  <ul>
    <li>
      <h4>01-intro</h4>
    </li>
    <li> <a routerLink="/sample1" routerLinkActive="active">01-create</a> <br /></li>
    <li><a routerLink="/sample2" routerLinkActive="active">02-dispose-problem</a> <br /></li>
    <li><a routerLink="/sample3" routerLinkActive="active">03-dispose-implementation</a> <br /></li>
    <li><a routerLink="/sample4" routerLinkActive="active">04-errors</a> <br /></li>
    <li> <a routerLink="/sample5" routerLinkActive="active">05-observable-vs-promise</a> <br /></li>
    <li>
      <h4>02-create</h4>
    </li>
    <li><a routerLink="/sample6" routerLinkActive="active">01-create-sample</a> <br /></li>
    <li><a routerLink="/sample7" routerLinkActive="active">02-from-event</a> <br /></li>
    <li>
      <h4>03-observable-samples</h4>
    </li>
    <li><a routerLink="/sample8" routerLinkActive="active">01-throtteled-buffering</a> <br /></li>
    <li><a routerLink="/sample9" routerLinkActive="active">02-flat-map-vs-map</a> <br /></li>
    <li><a routerLink="/sample10" routerLinkActive="active">03-toggle-stream</a> <br /></li>
    <li><a routerLink="/sample11" routerLinkActive="active">04-catch</a> <br /></li>
    <li><a routerLink="/sample12" routerLinkActive="active">05-cold-observable</a> <br /></li>
    <li><a routerLink="/sample13" routerLinkActive="active">06-hot-observable</a> <br /></li>
    <li><a routerLink="/sample14" routerLinkActive="active">07-hot-connect</a> <br /></li>
    <li><a routerLink="/sample15" routerLinkActive="active">08-subject</a> <br /></li>
    <li><a routerLink="/sample152" routerLinkActive="active">08-subject2</a> <br /></li>
    <li><a routerLink="/sample16" routerLinkActive="active">09-behavior-subject</a> <br /></li>
    <li><a routerLink="/sample17" routerLinkActive="active">10-http-sample</a> <br /></li>
    <li><a routerLink="/sample171" routerLinkActive="active">post-http-sample</a> <br /></li>
    <li>
      <h4>04-service</h4>
    </li>
    <li> <a routerLink="/sample18" routerLinkActive="active">01-main-component</a> <br /></li>
  </ul>
</div>

<div class="conteiner-fluid">
  <router-outlet></router-outlet>
</div>